<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/header :: common-header(${'Products'})"></head>
    <body class="d-flex flex-column">
        <div th:replace="common/navbar :: common-navbar"></div>
        
        <div th:each="steps : ${selfService}">
            <span>Hola mundo</span>
            
        </div>
        
        <div th:replace="common/footer :: footer"></div>

        <div th:replace="common/footer :: scripts"></div>

        <div th:replace="common/footer :: shoppingCartDropdownWidget"></div>
        
    <script th:src="@{/js/tactonselfservice.js}"></script>
    </body>
</html>
